<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The Sort Hat">
  <meta name="author" content="Sphynxtax">

  <title>De Sorteerhoed</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/sorteerhoed.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">De Magische App</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About Project</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">De Sorteerhoed</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Magische manier om jou specialisatie te kiezen</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Begin...</a>
      </div>
    </div>
  </header>

  <!-- Button Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Laten we beginnen en zet de hoed op</h2>
          <p class="text-white-50">Vul alle vragen in en kom er achter bij welke specialisatie jij past!</p>  
          <div class = "text-align">
            <form method="post">
              <input name = "name" class="form-control mx-m-2"/>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>  
        </div>
      </div>
    </div>
  </section>
    
    
  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Made by Sphynxtax</h2>
          <p class="text-white-50">Dit is een website gemaakt door het projectgroepje "Sphynxtax" voor Challengeweek 1 </p>
        </div>
      </div>
      <img src="static/img/Harry.png" class="img-fluid" alt="">
    </div>
  </section>


  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; De Sorteerhoed owned by Spynxtax
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/sorteerhoed.min.js"></script>

</body>

</html>
