<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The Sort Hat">
  <meta name="author" content="Sphynxtax">

  <title>De Sorteerhoed</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/sorteerhoed.min.css') }}" rel="stylesheet">

  <!-- Custom css -->
  <style>
    html,body {
      height: 100%;
    }

    #background {
      position: fixed;
      z-index: -2;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      background-image: url(/static/img/Houses.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #vraag {
      transition: opacity 1s;
    }

    #video {
      position: fixed;
      z-index: -1;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .green {
      background-color: #025918 !important;
    }

    #progress-bar {
      background-color: #661C45;
      transition: width 2s;
      width: {{ ((vraagGetal - 1) / 15) * 100 }}%;
    }
  </style>

</head>

<body id="page-top" onload="load({{ vraagGetal }})">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">De Magische App</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid h-100">
    <div class="d-flex h-100 w-100 text-center align-items-center">
      <div class="w-100 text-white" id="vraag">
        <h1 class="display-2">{{ vraag }}</h1>
        <div class="progress">
          <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="{{ vraagGetal }}"
            aria-valuemin="0" aria-valuemax="15"></div>
        </div>
        <br>
        <form method="post" id="buttons">
        </form>
      </div>
    </div>
    <div id="background"></div>
    <video loop preload="none" id="video">
      <source src="{{ url_for('static', filename='video/wizzard_harry.mp4') }}" type="video/mp4" id="videoSource">
    </video>
  </div>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; De Sorteerhoed owned by Spynxtax
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"></script>

  <!-- Custom scripts for this template -->
  <script>
     const vid = document.getElementById("video");
    const vidSrc = document.getElementById("videoSource");
    const vraag = document.getElementById("vraag");
    var vidIds = [];

    function load(vraagGetal) {
      progressBarAnimation(vraagGetal);
      generateButtons({{ antwoorden|safe }});
    };

    function progressBarAnimation(vraagGetal) {
      var progress = (vraagGetal / 15) * 100;
      document.getElementById("progress-bar").style.width = progress + "%";
    };

    function generateButtons(antwoorden) {
      antwoorden.forEach(function (item, index) {
        if (item.length == 4) {
          vidIds.push(item[3]);
          document.getElementById("buttons").innerHTML += '<input type="submit" onmouseover="playVideo(&#39;' +
            item[3] + '&#39;)" onmouseout="pauseVideo()" name="antwoord" value="' + item[0] +
            '" class="btn btn-primary btn-block green" id="' + item[3] + '">';
        } else {
          document.getElementById("buttons").innerHTML += '<input type="submit" name="antwoord" value="' + item[0] +
            '" class="btn btn-primary btn-block green">';
        }
      });
    };

    function playVideo(filename) {
      if ("http://localhost:5000/static/video/" + filename + ".mp4" == vidSrc.src) {
        vid.currentTime = 0;
        vid.play();
      } else {
        vidSrc.src = "/static/video/" + filename + ".mp4";
        vid.load();
        vid.play();
      };
      vid.style.opacity = 1;
      vraag.style.opacity = 0.5;
    };

    function pauseVideo() {
      vid.style.opacity = 0;
      vraag.style.opacity = 1;
      vid.pause();
    };
  </script>

</body>

</html>